@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ex aliquid expedita. Magni eveniet corporis qui neque laborum quisquam, similique distinctio pariatur quod molestiae maiores. Nemo ipsa neque dignissimos corrupti!
</div>
